.main {
  background: #fff;
  padding: 30px;
  width: 60vw;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  font-size: 20px;
  text-align: center;
  color: black;
}

